<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goofy Borzoi</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Daily borzoi pics for your pleasure</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="https://i.postimg.cc/90SBYx9m/7162791f-a365-482f-9dea-132fac4b5423.jpg" alt="Goofy Borzoi" class="img-fluid">
                <p>1</p>
            </div>
            <div class="col-sm">
                <img src="https://i.postimg.cc/Rh37hcDj/Best-Camping-Memes-of-February-2021.jpg" alt="Best Camping Memes" class="img-fluid">
                <p>2</p>
            </div>
            <div class="col-sm">
                <img src="https://i.postimg.cc/7Z4KsWch/purr-micheal.jpg" alt="White" class="img-fluid">
                <p>3</p>
            </div>
            <div class="col-sm">
                <img src="https://i.postimg.cc/vB4hxF1q/Guilty-Pets-Who-Can-t-Believe-You-re-Home-So-Soon.jpg" alt="Guilty Pets" class="img-fluid">
                <p>4</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (optional but required for interactive components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
